@CHARSET "UTF-8";

.root{
	-fx-background: #333333;
	-fx-font-family: Arial;
	-fx-font-base: white;
}

.label{
	-fx-fill: #f5f5f5;
}

.text-field{
	-fx-border-color: #858585;
	-fx-background-color: #858585;
	-fx-text-fill: white;
	-fx-highlight-fill: red;
}
.button{
	-fx-border-width: 3;
	-fx-border-color:#858585;
	-fx-background-color: #858585;
	-fx-text-fill: #333333;
}
.text-field:focused{
	-fx-border-color: white;
	-fx-border-width: 1;

}
#reset:hover{
	-fx-background-color: #333333;
	-fx-text-fill: #858585;
}
#submit{
	-fx-border-width: 3;
	-fx-border-color: #66C285;
	-fx-background-color: #66C285;
	-fx-text-fill: #294E35;
}
#submit:hover{
	-fx-background-color: #333333;
	-fx-text-fill:#66C285;
}
#cancel{
	-fx-border-width: 3;
	-fx-border-color: #FF6262;
	-fx-background-color: #FF6262;
	-fx-text-fill: #662727;
}
#cancel:hover{
	-fx-background-color: #333333;
	-fx-text-fill: #FF6262;
}
.greeting{
	-fx-font-size: 20px;
	-fx-fill: white;
	-fx-text-alignment: center;
}